<div class="header header-light">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand" href="#">
                    <img src="assets/img/logo.png" class="logo" alt="" />
                </a>
                <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;">
                <ul class="nav-menu">

                    <li class="active"><a href="/">Home</a></li>

                    <li><a href="#">Listing<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">									
                            <li><a href="/details">List Layout with Sidebar</a></li>
                        </ul>
                    </li>

                    <li><a href="/advertise">Advertise</a></li>

                    <li><a href="/aboutus">About Us</a></li>

                    <li><a href="#">Category<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">									
                            <li><a href="/details">List Layout with Sidebar</a></li>
                        </ul>
                    </li>

                    <li><a href="/pricing">Pricing</a></li>

                    <li><a href="/contact">Contact</a></li>

                </ul>

                <ul class="nav-menu nav-menu-social align-to-right">

                    <li class="login_click light">
                        <a href="/signup">Add Business</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>