{% extends 'dash_base.html' %}
{% block content %}
<div class="content">
    <h1>Welcome Admin!</h1>

    <form id="sliderForm">
        <div class="form-group">
            <label for="listing">Select Listing</label>
            <input type="hidden" id="id" name="id">
            <select class="form-control" id="listing" name="listing">
            </select>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name">
            
        </div> 
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" name="phoneNumber" class="form-control" id="phoneNumber">
        </div>
        <div class="form-group">
            <label for="altPhoneNumber">alternate Phone Number</label>
            <input type="text" name="altPhoneNumber" class="form-control" id="altPhoneNumber">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="faxAddress">Fax Address</label>
            <input type="text" name="faxAddress" class="form-control" id="faxAddress">
        </div>
        <button type="submit" class="btn btn-active btn-primary">Save</button>
    </form>

    <table class="table" id="sliderTable">
        <thead>
            <tr>
                <td>Name</td>
                <td>Phone Number</td>
                <td>Alternate Phone Number</td>
                <td>Email</td>
                <td>Fax Address</td>
                <td>Action</td>
            </tr>

        </thead>
        <tbody >
        </tbody>
    </table>
</div>


{% endblock %}

{% block script %}


<script>
    
    $.ajax({
        url: '/apis/listing/',
        method: 'GET',
        contentType: 'application/json'
    }).done(function(response) {
        console.log(response)
        let options="";
        response.map(resp =>{
            return options += `<option value="${resp.id}">${resp.title}</option>`;
        })
        $('#listing').html(options);
    })

    
    const table = $('#sliderTable').DataTable({
        ajax:{
                url:'/apis/business_contact/',
                dataSrc: ''
            },
        columns:[
            {
                data: "name",
                
            },
            {
                data: "phoneNumber"
            },
            {
                data: 'altPhoneNumber'
            },
            {
                data: "email"
            },
            {
                data: 'faxAddress'
            },
            {
                data: id,
                render: function(id, row, data){
                    return `
                        <button class="btn edit btn-active btn-primary" data-row='${JSON.stringify(data)}'>Edit</button>
                        <button class="btn btn-active btn-danger delete" data-row="${data.id}">Delete</button>
                    
                    `
                }
            }
        ],
        language: {
            lengthMenu: "_MENU_",
            search: "",
            searchPlaceholder: "Search..."
        },
        
    })

    jQuery('#sliderForm').submit(function(e){
        e.preventDefault()
        e.stopImmediatePropagation()
        const data = new FormData(document.getElementById('sliderForm'));

        let button = $(this).find('button').text()
        console.log(button)
        let url =  '/apis/business_contact/';
        let method = 'POST'
        if(button == 'Update'){
            method = 'PUT';
            let id = $('#id').val();
            url = '/apis/business_contact/' + id + '/'
        }

        jQuery.ajax({
            url: url,
            method: method,
            data: data,
            contentType:false,
            processData: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
            }
        }).done(resp=>{
            table.ajax.reload();
            jQuery('#sliderForm button').text('Save')
            console.log('updated')
        }).fail(err=>console.log(err))
    })

    jQuery('#sliderTable tbody').on('click', '.edit',function(){
        let data =  $(this).data('row')
        const inputs = $('#sliderForm input')
        for(let i=0; i < inputs.length; i++){
            let name = $(inputs[i]).attr('name')
            if (name == 'bannerImage') continue
            
            if(name != 'isPublished'){
                $(`input[name="${name}"]`).val(data[name])
            }
            else{
                if(data[name] == true){
                    $('#isPublished').attr('checked', true);

                }
            }
        }

        $('#sliderForm textarea').val(data.description)
        jQuery('#sliderForm button').text('Update')
    })


    jQuery('#sliderTable tbody').on('click', '.delete',function(){
        let data = JSON.parse($(this).data('row'))
        jQuery.ajax({
            url: '/apis/business_contact/'+data+'/',
            method: 'delete',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
            }
        }).done(resp=>{
            table.ajax.reload();
        }).fail(err=>{console.log(err)})
    })
    
</script>

{% endblock script %}

