{% extends 'dash_base.html' %}
{% block content %}
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Listing Categories</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin-panel">Home</a></li>
              <li class="breadcrumb-item active">Categories</li>
            </ol>
          </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
<div class="content">
    

    <div class="row">
        <div class="col-md-4">

            <div class="card card-info">
                <div class="card-header">
                     <h3 class="card-title">
                    Add New Categiry
                </h3>
                </div>
               
                <div class="card-body">
                    <form id="sliderForm">
        <div class="form-group">
            <label for="category">Category Name</label>
            <input type="hidden" id="id" name="id">
            <input type="text" class="form-control" name="category" id="category" placeholder="Write category" placeholder="Enter Category" >
        </div>
        <div class="form-group">
            <label for="icon">Icon</label>
            <input type="file" name="icon" id="icon">
        </div> 
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" rows="4" placeholder="Enter Category Description"></textarea>
        </div>
        
        <button type="submit" class="btn btn-active btn-info">Save</button>
    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Categories List</h3>
                </div>
                
                <div class="card-body">
                <table class="table" id="sliderTable">
        <thead>
            <tr>
                <td>Category</td>
                <td>icon</td>
                <td>description</td>
                <td>Action</td>
            </tr>

        </thead>
        <tbody >
        </tbody>
    </table>
            </div>
            </div>
            
        </div>
    </div>
    

    
</div>


{% endblock %}

{% block script %}


<script>
    
    
    
    const table = $('#sliderTable').DataTable({
        ajax:{
                url:'/api/category/',
                dataSrc: ''
            },
        columns:[
            {
                data: "category",
                
            },
            {
                data: "icon"
            },
            {
                data: 'description'
            },
            {
                data: id,
                render: function(id, row, data){
                    return `
                        <button class="btn edit btn-active btn-info" data-row='${JSON.stringify(data)}'>Edit</button>
                        <button class="btn btn-active btn-danger delete" data-row="${data.id}">Delete</button>
                    
                    `
                }
            }
        ],
        language: {
            lengthMenu: "_MENU_",
            search: "",
            searchPlaceholder: "Search..."
        },
        
    })

    jQuery('#sliderForm').submit(function(e){
        e.preventDefault()
        e.stopImmediatePropagation()
        const data = new FormData(document.getElementById('sliderForm'));

        let button = $(this).find('button').text()
        console.log(button)
        let url =  '/api/category/';
        let method = 'POST'
        if(button == 'Update'){
            method = 'PUT';
            let id = $('#id').val();
            url = '/api/category/' + id + '/'
        }

        jQuery.ajax({
            url: url,
            method: method,
            data: data,
            contentType:false,
            processData: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
            }
        }).done(resp=>{
            table.ajax.reload();
            jQuery('#sliderForm button').text('Save')
            console.log('updated')
        }).fail(err=>console.log(err))
    })

    jQuery('#sliderTable tbody').on('click', '.edit',function(){
        let data =  $(this).data('row')
        const inputs = $('#sliderForm input')
        for(let i=0; i < inputs.length; i++){
            let name = $(inputs[i]).attr('name')
                $(`input[name="${name}"]`).val(data[name])
        }
        $('#sliderForm textarea').val(data.description)
        jQuery('#sliderForm button').text('Update')
    })
    jQuery('#sliderTable tbody').on('click', '.delete',function(){
        let data = JSON.parse($(this).data('row'))
        jQuery.ajax({
            url: '/api/category/'+data+'/',
            method: 'delete',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
            }
        }).done(resp=>{
            table.ajax.reload();
        }).fail(err=>{console.log(err)})
    })
    
</script>

{% endblock script %}

