{% extends 'dash_base.html' %}
{% block content %}
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Social Media</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin-panel">Home</a></li>
              <li class="breadcrumb-item active">Social Media</li>
            </ol>
          </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-4">
          <!-- jquery validation -->
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Add Social Media</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="sliderForm">
                <div class="card-body">
                    <div class="form-group">
                        <label for="platform">Social Media</label>
                        <input type="hidden" name="id" id="id">
                        <input type="text" class="form-control" name="platform" id="platform" placeholder="Enter Social Media Name">
                    </div>
                
                    <div class="form-group">
                        <label for="icon">Icon</label>
                        <input type="file" name="icon" id="icon">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" name="description" id="description" rows="4" placeholder="Enter Social Media Description"></textarea>
                    </div>
                
                    <button type="submit" class="btn btn-active btn-info">Save</button>
                </div>
                
            </form>
          </div>
          <!-- /.card -->
          </div>
          <div class="col-md-8">
            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Social Media List</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover" style="width:100%" id="sliderTable">
                        <thead>
                            <tr>
                                <th>Icon</th>
                                <th>Social Media<th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>


{% endblock %}

{% block script %}


<script>
    
    
    
    const table = $('#sliderTable').DataTable({
        ajax:{
                url:'/api/social_platform/',
                dataSrc: ''
            },
        columns:[
            {
                data: "icon",
                render:function(data){
                    return `<img src="${data}" class="img-small">`
                }
            },
            {
                data: "platform",
                className:"text-center"
            },
            {
                data: id,
                render: function(id, row, data){
                    return `
                        <button class="btn edit btn-active btn-info btn-sm" data-row='${JSON.stringify(data)}'>
                         <i class="fa fa-edit"></i>   
                        </button>
                        <button class="btn btn-active btn-danger delete btn-sm" data-row="${data.id}">
                        <i class="fa fa-trash"></i>    
                        </button>
                    
                    `
                }
            }
        ],
        language: {
            lengthMenu: "_MENU_",
            search: "",
            searchPlaceholder: "Search..."
        }
    })

    jQuery('#sliderForm').submit(function(e){
        e.preventDefault()
        e.stopImmediatePropagation()
        const data = new FormData(document.getElementById('sliderForm'))
        let button = $(this).find('button').text()
        console.log(button)
        let url =  '/api/social_platform/';
        let method = 'POST'
        if(button == 'Update'){
            method = 'PUT';
            let id = $('#id').val();
            url = '/api/social_platform/' + id + '/'
        }

        jQuery.ajax({
            url: url,
            method: method,
            data: data,
            contentType:false,
            processData: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
            }
        }).done(resp=>{
            table.ajax.reload()
            $('#sliderForm').trigger("reset");;
        }).fail(err=>console.log(err))
    })
    
    
    jQuery('#sliderTable tbody').on('click', '.edit',function(){
        let data =  $(this).data('row')
        const inputs = $('#sliderForm input')
        for(let i=0; i < inputs.length; i++){
            let name = $(inputs[i]).attr('name')
            console.log(name)
            if(name != 'image'){

                $(`input[name="${name}"]`).val(data[name])
            }
        }
        $('textarea').val(data.description)
        jQuery('#sliderForm button').text('Update')
    })
    jQuery('#sliderTable tbody').on('click', '.delete',function(){
        let data = JSON.parse($(this).data('row'))
        jQuery.ajax({
            url: '/api/social_platform/'+data+'/',
            method: 'delete',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
            }
        }).done(resp=>{
            table.ajax.reload()
        }).fail(err=>{console.log(err)})
    })
    
</script>

{% endblock script %}

