{% extends './base.html' %}
{% load static %}
{% load tags %}
{% block content %}

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			{% show_categories %}
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			<div class="image-cover ed_detail_head lg" style="background:#f4f4f4 url({% static 'assets/img/banner-4.jpg' %});" data-overlay="8">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-9">
							<div class="ed_detail_wrap light">
								<div class="ed_header_caption">
									<h2 class="ed_title mb-3">
                                        All Listings {% if category %} with category {{category}} {% endif %}
										
                                    </h2>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search Listing">
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ========================== Login Section =============================== -->
			<section class="gray-bg">
                <div class="container">
                    
                    <div class="row">

                        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <div class="singles_items">
                                <div class="education_block_grid style_2">
                                    <div class="education_block_thumb n-shadow">
                                        <a href="details.html"><img src="{% static 'assets/img/co-1.jpg' %}" class="img-fluid" alt=""></a>
                                        
                                    </div>
    
                                    <div class="education_block_body">
                                        <h4 class="bl-title"><a href="details.html">Tableau For Beginners: Get CA Certified, Grow Your
                                                Career</a></h4>
                                    </div>
    
                                    <div class="cources_info_style3">
                                        <ul>
                                            <li><i class="ti-eye mr-2"></i>8682 Views</li>
                                            <li><i class="ti-time mr-2"></i>6h 40min</li>
                                            <li><i class="ti-star text-warning mr-2"></i>4.7 Reviews</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>	
                        </div>
    
                    </div>
                    
                </div>
            </section>
			<!-- ========================== Login Section =============================== -->
			
			
			<!-- ============================ Footer Start ================================== -->
			{% include './partials/_footer.html' %}
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Log In</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<label>User Name</label>
										<input type="text" class="form-control" placeholder="Username">
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="*******">
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">Login</button>
									</div>
								
								</form>
							</div>
							
							<div class="social-login mb-3">
								<ul>
									<li>
										<input id="reg" class="checkbox-custom" name="reg" type="checkbox">
										<label for="reg" class="checkbox-custom-label">Save Password</label>
									</li>
									<li class="right"><a href="#" class="theme-cl">Forget Password?</a></li>
								</ul>
							</div>
							
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login ntr mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
								</ul>
							</div>
							
							<div class="text-center">
								<p class="mt-2">Haven't Any Account? <a href="register.html" class="link">Click here</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Sign Up Modal -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="sign-up">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Sign Up</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Full Name">
									</div>
									
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Email">
									</div>
									
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Username">
									</div>
									
									<div class="form-group">
										<input type="password" class="form-control" placeholder="*******">
									</div>

									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">Sign Up</button>
									</div>
								
								</form>
							</div>
							
							<div class="modal-divider"><span>Or Signup via</span></div>
							<div class="social-login ntr mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
								</ul>
							</div>
							
							<div class="text-center">
								<p class="mt-3"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
{% endblock content %}