{% extends './base.html' %}
{% load static %}
{% load tags %}

{% block content %}

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

	<!-- ============================================================== -->
	<!-- Top header  -->
	<!-- ============================================================== -->
	<!-- Start Navigation -->
	{% show_categories %}
	<!-- End Navigation -->
	<div class="clearfix"></div>
	<!-- ============================================================== -->
	<!-- Top header  -->
	<!-- ============================================================== -->

	<!-- ============================ Page Title Start================================== -->
	<section class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">

					<div class="breadcrumbs-wrap">
						<h1 class="breadcrumb-title">Get in Touch</h1>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Contact</li>
							</ol>
						</nav>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- ============================ Page Title End ================================== -->

	<!-- ============================ Agency List Start ================================== -->
	<section class="bg-light">

		<div class="container">

			<!-- row Start -->
			<div class="row">

				<div class="col-lg-8 col-md-7">
					<div class="prc_wrap">

						<div class="prc_wrap_header">
							<h4 class="property_block_title">Fillup The Form</h4>
						</div>

						<div class="prc_wrap-body">
							<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										<label>Name</label>
										<input type="text" class="form-control simple">
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										<label>Email</label>
										<input type="email" class="form-control simple">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label>Subject</label>
								<input type="text" class="form-control simple">
							</div>

							<div class="form-group">
								<label>Message</label>
								<textarea class="form-control simple"></textarea>
							</div>

							<div class="form-group">
								<button class="btn btn-theme" type="submit">Submit Request</button>
							</div>
						</div>

					</div>

				</div>

				<div class="col-lg-4 col-md-5">

					<div class="prc_wrap">

						<div class="prc_wrap_header">
							<h4 class="property_block_title">Reach Us</h4>
						</div>

						<div class="prc_wrap-body">
							<div class="contact-info">

								<h2>Get In Touch</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>

								<div class="cn-info-detail">
									<div class="cn-info-icon">
										<i class="ti-home"></i>
									</div>
									<div class="cn-info-content">
										<h4 class="cn-info-title">Reach Us</h4>
										2512, New Market,<br>Eliza Road, Sincher 80 CA,<br>Canada, USA
									</div>
								</div>

								<div class="cn-info-detail">
									<div class="cn-info-icon">
										<i class="ti-email"></i>
									</div>
									<div class="cn-info-content">
										<h4 class="cn-info-title">Drop A Mail</h4>
										support@Rikada.com<br>Rikada@gmail.com
									</div>
								</div>

								<div class="cn-info-detail">
									<div class="cn-info-icon">
										<i class="ti-mobile"></i>
									</div>
									<div class="cn-info-content">
										<h4 class="cn-info-title">Call Us</h4>
										(41) 123 521 458<br>+91 235 548 7548
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- /row -->

		</div>

	</section>
	<section class="bg-cover newsletter inverse-theme" style="background:url(assets/img/banner-2.jpg);"
		data-overlay="9">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 col-md-8 col-sm-12">
					<div class="text-center">
						<h2>Join Thousand of Happy Students!</h2>
						<p>Subscribe our newsletter & get latest news and updation!</p>
						<form class="sup-form">
							<input type="email" class="form-control sigmup-me" placeholder="Your Email Address"
								required="required">
							<input type="submit" class="btn btn-theme" value="Get Started">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include './partials/_footer.html' %}
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
			<div class="modal-content" id="registermodal">
				<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
				<div class="modal-body">
					<h4 class="modal-header-title">Log In</h4>
					<div class="login-form">
						<form>

							<div class="form-group">
								<label>User Name</label>
								<input type="text" class="form-control" placeholder="Username">
							</div>

							<div class="form-group">
								<label>Password</label>
								<input type="password" class="form-control" placeholder="*******">
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-md full-width pop-login">Login</button>
							</div>

						</form>
					</div>

					<div class="social-login mb-3">
						<ul>
							<li>
								<input id="reg" class="checkbox-custom" name="reg" type="checkbox">
								<label for="reg" class="checkbox-custom-label">Save Password</label>
							</li>
							<li class="right"><a href="#" class="theme-cl">Forget Password?</a></li>
						</ul>
					</div>

					<div class="modal-divider"><span>Or login via</span></div>
					<div class="social-login ntr mb-3">
						<ul>
							<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
							<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
						</ul>
					</div>

					<div class="text-center">
						<p class="mt-2">Haven't Any Account? <a href="register.html" class="link">Click here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
			<div class="modal-content" id="sign-up">
				<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
				<div class="modal-body">
					<h4 class="modal-header-title">Sign Up</h4>
					<div class="login-form">
						<form>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Full Name">
							</div>

							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email">
							</div>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username">
							</div>

							<div class="form-group">
								<input type="password" class="form-control" placeholder="*******">
							</div>


							<div class="form-group">
								<button type="submit" class="btn btn-md full-width pop-login">Sign Up</button>
							</div>

						</form>
					</div>

					<div class="modal-divider"><span>Or Signup via</span></div>
					<div class="social-login ntr mb-3">
						<ul>
							<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
							<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
						</ul>
					</div>

					<div class="text-center">
						<p class="mt-3"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go
								For LogIn</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
</div>
{% endblock content %}