{% extends './base.html' %}
{% load static %}
{% load tags %}

{% block content %}
<div id="main-wrapper">
    {% show_categories %}
    <div class="clearfix"></div>
    <section>
        <div class="container">

            <div class="row justify-content-center">

                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="log_wrap">
                        <h4>My Listings</h4>
                        <div class="login-form">
                            <button class="btn btn-danger mr-auto" data-toggle="modal" data-target="#newListing">
                                <i class="fa fa-plus-circle">
                                </i>
                                Submit New Listing
                            </button>
                            <table class="table mt-4 table-striped table-hover">
                                <thead>
                                    <tr class="bg-danger text-light">
                                        <th>Banner Image</th>
                                        <th>
                                            Buisness Name
                                        </th>
                                        <th>Description</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- ========================== Login Section =============================== -->


    <!-- ============================ Footer Start ================================== -->
    {% include './partials/_footer.html' %}

    <div class="modal fade" id="newListing" tabindex="-1" role="dialog" aria-labelledby="registermodal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
            <div class="modal-content" id="registermodal">
                <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                <div class="modal-body">
                    <h4 class="modal-header-title">New Listing</h4>
                    <div class="login-form">
                        <form>

                            <div class="form-group">
                                <label>Buisness Name</label>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>

                            <div class="form-group">
                                <label>About</label>
                                <textarea name="" id="" rows="5" class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Banner Image</label>
                                <input type="file">
                            </div>

                            <div class="form-group">
                                <a href="/editListing" class="btn btn-md full-width pop-login">Login</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <!-- Sign Up Modal -->
    <!-- End Modal -->

    <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>
{% endblock %}