{% extends './base.html' %}
{% load static %}
{% load tags %}

{% block content %}

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
		{% show_categories %}
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ========================== Login Section =============================== -->
			<section>
				<div class="container">
					
					<div class="row justify-content-center">
					
						<div class="col-lg-5 col-md-6 col-sm-12">
							<div class="log_wrap">
								<h4>Login Here</h4>
								<div class="login-form">
								<form id="signInForm">
									<div class="form-group">
										<label>Username</label>
										<input type="text" class="form-control" name="username">
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" name="password">
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">Sign in</button>
                                    </div>
                                    <div class="mt-4">
                                        <p>Don't Have an account ? <a href="/signup">Sign up</a></p>
                                    </div>
								</form>
							</div>
							</div>
						</div>

					</div>
					
				</div>
			</section>
			{% include './partials/_footer.html' %}
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
{% endblock content %}
{% block scripts %}
<script>
	$(document).ready(function(){
		$('#signInForm').submit(function(e){
			e.preventDefault();
			e.stopImmediatePropagation()
			var data = new FormData(this);
			$.ajax({
				url:"/api/login",
				method:"POST",
				data:data,
				contentType:false,
				processData:false
			}).done(function(res){
				console.log(res);
				alert("Signed in Successfully")
				window.location.href="/myListings"
			}).fail(function(err){
				console.log(err);
			})
		})
	})
</script>
{% endblock %}